<div class="row h-100 pb-4 pb-lg-0">
  <div class="col-12 col-lg-8 pt-4">
    <div class="">
      <div class="position-relative d-flex justify-content-center align-items-center">
        <div class="position-absolute start-0 ms-3">
          <i class="bi-search text-secondary"></i>
        </div>
        <input type="text" [(ngModel)]="search" (input)="searchMember()" class="ps-5 form-control border-0 rounded-2 bg-dark-2 text-white" placeholder="Recherche...">
        <button (click)="searchReset()" class="bg-dark border-white border-0 rounded-circle position-absolute end-0 mx-1" style="width: 30px; height: 30px">
          <i class="bi-x-lg text-secondary"></i>
        </button>
      </div>
    </div>
    <div class="text-secondary mt-2">
      @if (search){
        Search result for
        <span class="text-light fw-semibold">" {{ search }} "</span>
      }
    </div>
    <div class="d-flex gap-2 mt-4">
      <a (click)="reset()" class="btn btn-sm btn-outline-warning  rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#modalAddMember">
        <i class="bi-person-add"></i>
        Nouveau membre
      </a>
      <a href="" class="btn btn-sm btn-outline-warning  rounded-pill px-3">
        <i class="bi-pie-chart-fill"></i>
        Tableau de bord
      </a>
      <div class="modal fade" id="modalAddMember" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <app-member-form [formGroupMember]="formGroupMember"></app-member-form>
      </div>
    </div>
    <div class="mt-4">
      @if(member$ | async; as member){
        <div class="d-flex flex-column gap-2">
          @for (item  of member.content; track $index){
            <div class="position-relative">
              <div class="position-absolute z-1 end-0 me-5" style="top: -8px;">
                <div class="d-flex gap-1">
                  <a (click)="updateMember(item)" data-bs-toggle="modal" data-bs-target="#modalAddMember" class="btn btn-sm rounded-circle btn-warning p-0 border" style="width: 24px; height: 24px;">
                    <i class="bi-pencil"></i>
                  </a>
                  <a (click)="deleteMember(item.id)" class="btn btn-sm rounded-circle btn-danger p-0" style="width: 24px; height: 24px;">
                    <i class="bi-trash"></i>
                  </a>
                </div>
              </div>
              <app-item-card-person [member]="item"></app-item-card-person>
            </div>
          }
        </div>
      }
    </div>
    <div class="pt-4">
      <app-pageable></app-pageable>
    </div>
  </div>
  <div class="col-12 col-lg-4 border-start border-secondary pt-4">
    <h4>Analyse</h4>
    <p class="fs-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, quas!</p>
    <div class="d-flex flex-column gap-2">
      <div class="card bg-dark-2">
        <div class="card-header bg-dark text-light fw-semibold">
          Activity
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <svg class="bg-secondary" width="100%"></svg>
            </div>
            <div class="col-auto">
              <div class="d-flex flex-column gap-2">
                <a href="" class="btn btn-sm btn-outline-warning">
                  <i class="bi-pie-chart-fill"></i>
                </a>
                <a href="" class="btn btn-sm btn-outline-warning">
                  <i class="bi-bar-chart-line"></i>
                </a>
                <a href="" class="btn btn-sm btn-outline-warning">
                  <i class="bi-graph-up"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-dark-2">
        <div class="card-header bg-dark text-light fw-semibold">
          Member
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <svg class="bg-secondary" width="100%"></svg>
            </div>
            <div class="col-auto">
              <div class="d-flex flex-column gap-2">
                <a href="" class="btn btn-sm btn-outline-warning">
                  <i class="bi-pie-chart-fill"></i>
                </a>
                <a href="" class="btn btn-sm btn-outline-warning">
                  <i class="bi-bar-chart-line"></i>
                </a>
                <a href="" class="btn btn-sm btn-outline-warning">
                  <i class="bi-graph-up"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
