<div class="modal-dialog">
  <div class="modal-content bg-dark">
    <div class="modal-header">
      <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
    </div>
    <button type="button" class="btn position-absolute end-0 mt-2" data-bs-dismiss="modal" aria-label="Close">
      <i class="bi-x-lg text-danger"></i>
    </button>
    <div class="modal-body">
      <form [formGroup]="formGroupMember" (submit)="onSubmit()">
        <div class="mb-2 d-flex gap-2">
          <div class="position-relative">
            <label class="form-check-label" for="exampleRadio1">
              <svg width="50" height="50" class="bg-secondary rounded-circle border border-3"></svg>
            </label>
            <input type="radio" name="avatar" class="form-check-input position-absolute end-0 bottom-0" id="exampleRadio1">
          </div>
          <div class="position-relative">
            <label class="form-check-label" for="exampleRadio2">
              <svg width="50" height="50" class="bg-primary rounded-circle border border-3"></svg>
            </label>
            <input type="radio" name="avatar" class="form-check-input position-absolute end-0 bottom-0" id="exampleRadio2">
          </div>
          <div class="position-relative">
            <label class="form-check-label" for="exampleRadio3">
              <svg width="50" height="50" class="bg-warning rounded-circle border border-3"></svg>
            </label>
            <input type="radio" name="avatar" class="form-check-input position-absolute end-0 bottom-0" id="exampleRadio3">
          </div>
        </div>
        <div class="form-floating text-light">
          <input type="text" class="form-control border-0 bg-dark-2 text-light text-uppercase" formControlName="name" id="name" placeholder="Votre numero matricule" >
          <label for="name">
            <i class="bi-people"></i>
            Nom de famille
          </label>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col">
            <div class="form-floating text-light mt-2">
              <input type="text" class="form-control border-0 bg-dark-2 text-light text-capitalize" formControlName="firstName" id="firstName" placeholder="Votre numero matricule" >
              <label for="firstName">
                <i class="bi-person"></i>
                Prenom(s)
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating text-light mt-2">
              <input type="text" class="form-control border-0 bg-dark-2 text-light text-capitalize" formControlName="pseudo" id="pseudo" placeholder="Votre numero matricule" >
              <label for="pseudo">
                <i class="bi-at"></i>
                Pseudo
              </label>
            </div>
          </div>
        </div>
        <div class="form-floating text-light mt-2">
          <input type="url" class="form-control border-0 bg-dark-2 text-light" formControlName="git" id="git" placeholder="Votre numero matricule" >
          <label for="git">
            <i class="bi-github"></i>
            Liens GitHub
          </label>
        </div>
        <div class="mt-4">
          <button type="submit" [disabled]="formGroupMember.invalid" class="btn btn-outline-warning rounded-pill">
            <i class="bi-check2-circle"></i>
            Sauvegarder
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
