<footer class="footer mt-auto py-3 bg-black">
  <div class="">
    <div class="d-flex justify-content-center flex-md-row flex-wrap gap-3 mt-3">
      <a href="" class="text-decoration-none text-white">
        <i class="bi-telephone"></i>
        +261 33 00 000 00
      </a>
      <a href="" class="text-decoration-none text-white">
        <i class="bi-google"></i>
        address&#64;gmail.com
      </a>
      <a href="" class="text-decoration-none text-white">
        <i class="bi-house"></i>
        101 Antananarivo
      </a>
    </div>
  </div>
</footer>
