<div class="h-100 pt-4 pb-3 pt-lg-4">
  <div class="card border-0 bg-dark-2 col-12 col-md-12 col-lg-12 pt-4 pb-4 position-relative">
    <span class="badge bg-warning py-2 position-absolute fs-6 fw-semibold text-dark" style="top: -15px; left: 10px;">
      <i class="bi-slack"></i>
      IT Community
    </span>
    <div class="card-body text-light position-relative">
      <div class="position-absolute end-0">
        <div class="p-1 border rounded-pill me-4">
          <div class="btn btn-sm rounded-pill text-light">Actuel</div>
          <div class="btn btn-sm btn-warning rounded-pill">Ancien</div>
        </div>
      </div>
      <div class="card-title fs-4">Nouveau Compte</div>
      <p class="card-text fs-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, enim mollitia obcaecati rem sint temporibus.</p>
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="number" class="form-control bg-dark text-light" name="" id="register" placeholder="Votre numero matricule" >
            <label for="register">Matricule</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating text-light mt-2">
            <select id="class" class="form-select bg-dark text-light">
              <option>--</option>
              <option>Master</option>
              <option>L3</option>
              <option>L2</option>
              <option>L1</option>
            </select>
            <label for="class">Classe</label>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-lg-3">
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="text" class="form-control bg-dark text-light" name="" id="firstName" placeholder="Votre nom famille" >
            <label for="firstName">Nom</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="text" class="form-control bg-dark text-light" name="" id="lastName" placeholder="Votre prenom" >
            <label for="lastName">Prenom(s)</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="text" class="form-control bg-dark text-light" name="" id="pseudo" placeholder="Votre pseudo" >
            <label for="pseudo">Pseudo</label>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-lg-3">
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="text" class="form-control bg-dark text-light" name="" id="git" placeholder="Votre lien gitHub" >
            <label for="git">Lien GitHub</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="email" class="form-control bg-dark text-light" name="" id="address" placeholder="addresse e-mail" >
            <label for="address">Addresse e-mail</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="text" class="form-control bg-dark text-light" name="" id="tel" placeholder="Numero telephone" >
            <label for="tel">Telephone</label>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="password" class="form-control bg-dark text-light" name="" id="pwd" placeholder="addresse e-mail" >
            <label for="pwd">Mot de passe</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating text-light mt-2">
            <input type="password" class="form-control bg-dark text-light" name="" id="confirmPwd" placeholder="Confirmer le mot de passe" >
            <label for="confirmPwd">Confirm mot de passe</label>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <button class="btn btn-warning text-dark fw-semibold w-100">Sauvegarder</button>
      </div>
      <div class="text-center">
        <hr class="text-secondary">
        <a routerLink="/login" class="text-decoration-none fw-semibold text-light">J'ai un compte ?</a>
      </div>
    </div>
  </div>
</div>
