<div class="d-flex flex-column gap-2">
  @for(item of documents; track item.id){
    <div class="card border border-secondary bg-dark-2 text-light h-100">
      <div class="d-flex gap-2 position-absolute end-0 m-1">
        <a href="" class="btn btn-sm bg-dark-2 rounded-circle text-light">
          <i class="bi-filetype-doc"></i>
        </a>
        <a href="" class="btn btn-sm bg-dark-2 rounded-circle text-light">
          <i class="bi-github"></i>
        </a>
        <a href="" class="btn btn-sm bg-dark-2 rounded-circle text-light">
          <i class="bi-pencil"></i>
        </a>
        <a href="" class="btn btn-sm bg-dark-2 rounded-circle text-danger">
          <i class="bi-trash"></i>
        </a>
        @if (item.id != idDocs){
          <button (click)="showDocs(item.id)" class="btn btn-sm bg-dark-2 rounded-circle text-light">
            <i class="bi-chevron-down"></i>
          </button>
        }
      </div>
      <div class="card-header bg-dark">
        <div class="card-title">
          <h4 class="fs-6">{{ item.theme }}</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          @if (item.id === idDocs){
            <div class="card rounded-0 border-0 bg-transparent text-light">
              <div class="d-flex flex-wrap">
                <svg class="bg-secondary me-2 border border-2" width="50" height="50"></svg>
                <div class="card-text">
                  <div class="fw-bold text-warning">
                    {{ item.intervening }}
                  </div>
                  <div class="fs-7">{{ item.post }}</div>
                </div>
              </div>
            </div>
          }
          <div class="">
            <div class="">
              <i class="bi-geo-alt text-warning me-1"></i>
              {{ item.location }}
            </div>
            <div class="">
              <i class="bi-calendar2-event text-warning me-1"></i>
              {{ item.date | date: 'd MMMM y' }}
              <i class="bi-clock text-warning"></i>
              {{ item.time.hours + 'h' + item.time.minutes + 'min'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
