<div class="row h-100 pb-4 pb-lg-0">
  <div class="col-12 col-lg-3 border-end border-secondary pt-4">
    <div class="">
      <h4>Filter</h4>
      <p class="fs-7">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nemo.
      </p>
      <div class="d-flex gap-2">
        <a (click)="reset()" class="btn bg-dark-2 text-warning shadow-lg" title="Publication" data-bs-toggle="modal" data-bs-target="#modalAddDocs">
          <i class="bi-plus-lg"></i>
        </a>
        <a href="" class="btn bg-dark-2 text-light shadow-lg" title="Message">
          <i class="bi-envelope"></i>
        </a>
        <a href="" class="btn bg-dark-2 text-light shadow-lg" title="Signal">
          <i class="bi-exclamation-diamond-fill"></i>
        </a>
        <div class="modal fade" id="modalAddDocs" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Ajouter un event</h5>
              </div>
              <button type="button" class="btn position-absolute end-0 mt-2" data-bs-dismiss="modal" aria-label="Close">
                <i class="bi-x-lg text-danger"></i>
              </button>
              <div class="modal-body">
                <form [formGroup]="formGroupDocs" (submit)="onSubmit()" class="d-flex flex-column gap-2">
                  <div class="form-floating text-light">
                    <input type="text" formControlName="theme" class="form-control border-0 bg-dark-2 text-light" id="theme" placeholder="Votre numero matricule" >
                    <label for="theme">
                      <i class="bi-flag"></i>
                      Theme
                    </label>
                  </div>
                  <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col">
                      <div class="form-floating text-light">
                        <input type="text" formControlName="intervening" class="form-control border-0 bg-dark-2 text-light" id="intervening" placeholder="Votre numero matricule" >
                        <label for="intervening">
                          <i class="bi-person-bounding-box"></i>
                          Intervenant
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating text-light">
                        <input type="text" formControlName="post" class="form-control border-0 bg-dark-2 text-light" id="post" placeholder="Votre numero matricule" >
                        <label for="post">
                          <i class="bi-briefcase"></i>
                          Poste ou Societe
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-floating text-light">
                    <input type="text" formControlName="location" class="form-control border-0 bg-dark-2 text-light text-capitalize" id="location" placeholder="Votre numero matricule" >
                    <label for="location">
                      <i class="bi-geo-alt"></i>
                      Locale
                    </label>
                  </div>
                  <div class="row row-cols-2">
                    <div class="col">
                      <div class="form-floating text-light">
                        <input type="date" formControlName="date" class="form-control border-0 bg-dark-2 text-light" id="date" placeholder="Votre numero matricule" >
                        <label for="date">
                          <i class="bi-calendar2"></i>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating text-light">
                        <input type="time" formControlName="time" class="form-control border-0 bg-dark-2 text-light" id="time" placeholder="Votre numero matricule" >
                        <label for="time">
                          <i class="bi-clock"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-floating text-light">
                    <input type="url" formControlName="git" class="form-control border-0 bg-dark-2 text-light" id="git" placeholder="Votre numero matricule" >
                    <label for="git">
                      <i class="bi-github"></i>
                      Liens GitHub
                    </label>
                  </div>
                  <div class="">
                    <input type="file" formControlName="document" class="form-control form-control-sm bg-dark-2 text-light" aria-label="Upload document" id="file">
                  </div>
                  <div class="mt-4">
                    <button type="submit" [disabled]="formGroupDocs.invalid" class="btn btn-warning w-100 fw-semibold">Enregistrer</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="card bg-dark-2 text-light">
        <div class="card-body">
          <h5>Calendar</h5>
          <p class="fs-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, optio.</p>
          <div class="">
            <label for="dateIn" class="form-label">
              <i class="bi-calendar2-event"></i>
              Date event
            </label>
            <input type="date" class="form-control bg-dark text-light" name="" id="dateIn">
          </div>
          <div class="mt-2">
            <label for="recent" class="form-label">
              <i class="bi-chevron-expand"></i>
              Recent
            </label>
            <select id="recent" class="form-select bg-dark text-light">
              <option>--</option>
              <option>24 heures</option>
              <option>3 jours</option>
              <option>2 semaines</option>
              <option>1 mois</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 pt-4">
    <div class="">
      <div class="position-relative d-flex justify-content-center align-items-center">
        <div class="position-absolute start-0 ms-3">
          <i class="bi-search text-secondary"></i>
        </div>
        <input type="text" [(ngModel)]="search" (input)="searchDocument()" class="ps-5 form-control border-0 rounded-2 bg-dark-2 text-white" placeholder="Recherche...">
        <button (click)="searchReset()" class="bg-dark border-white border-0 rounded-circle position-absolute end-0 mx-1" style="width: 30px; height: 30px">
          <i class="bi-x-lg text-secondary"></i>
        </button>
      </div>
    </div>
    <div class="text-secondary mt-1">
      @if (search){
        Search result for
        <span class="text-light fw-semibold">" {{ search }} "</span>
      }
    </div>
    <div class="mt-3">
      @if(documents$ | async; as documents){
        <app-docs-content [documents]="documents"></app-docs-content>
      }
    </div>
    <div class="pt-2">
      <app-pageable></app-pageable>
    </div>
  </div>
  <div class="col-12 col-lg-3 border-start border-secondary pt-4">
    <h4>Analyse</h4>
    <p class="fs-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, quas!</p>
    <div class="d-flex flex-column gap-2">
      <app-item-card-graph [title]="'Activity'"></app-item-card-graph>
      <app-item-card-graph [title]="'Member'"></app-item-card-graph>
    </div>
  </div>
</div>
